
nav {
  background-color: lighten(color(c-blue1), 5);
  color: color(c-white);
  padding: .8em 1.5em;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2rem;
  }

  ul {
    font-size: 1.2rem;
    list-style: none;
    
    li {
      display: inline-block;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 2.5rem;
      } 

      a {
        color: color(c-white);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        color: color(c-violet);
      }
    }
  }
}
